server:
  port: 8080
spring:
  application:
    name: greeting-service
greeting-service:
  greeting: "Hello"
  default-value: "Word"
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
