server:
  port: 8080
spring:
  application:
    name: greeting-service
greeting-service:
  greeting: "pronto"
  default-value: "Mondo"
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
